*{
    margin: 0;
    padding: 0;
}
body{
    background: url("https://wallpapercave.com/wp/Dq6o3uI.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   }
.n{
    background-color: blue;
    display: flex;
    width: 100%;
}
.n h1{
    color: red;
    padding: 10px 10px 10px 0px;
}
.n ul{
float: inline-end;
display: flex;
margin:10px 0px 0px 30px;
padding: 10px;
}
li{
list-style: none;
margin-left: 40px;
font-size: 20px;
border: 1px;
color:black;
padding: 8px;
border-radius: 5px;
background-color: white;
}
li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: yellow;
    cursor: pointer;
}
li:hover{
    color: yellow;
    cursor: pointer;
}